@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: black;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*.beam {
    position: absolute;
    top: 50px;
    width: 30px;
    height: 6px;
    border-radius: 10em;
    background-color: red;
    transform: 
}
*/

.asteroid {
    position: absolute;
    top: 50px;
    left: 25px;
    width: 30%;
    -webkit-animation: asteroid-rotate 10s ease-in-out infinite alternate;
    animation: asteroid-rotate 10s ease-in-out infinite alternate;
}

.ship {
    position: absolute;
    top: 50px;
    left: 250px;
    width: 15%;
    -webkit-animation: ship-path 5s ease-in-out infinite alternate;
    animation: ship-path 5s ease-in-out infinite alternate;
}

.stars {
    background-image: url(../artwork/stars.svg);
    width:100%;
    height: 100vh;
    -webkit-animation: stars-scale 15s ease-in-out infinite alternate;
    animation: asteroid-rotate 10s ease-in-out infinite alternate;
}

@-webkit-keyframes asteroid-rotate {
    
    0% {
       -webkit- transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
    }   
}

@keyframes asteroid-rotate {
    
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }   
}

@-webkit-keyframes ship-path {
    0% {
        -webkit-transform: translateY(0px);
        -webkit-transform: translateX(0px);
    }
    
     10% {
        -webkit-transform: translateY(10px);
        -webkit-transform: translateX(10px);
    }
    
      60% {
        -webkit-transform: translateY(20px);
        -webkit-transform: translateX(60px);
    }
    
    100% {
        -webkit-transform: translateY(60px);
        -webkit-transform: translateX(120px);
    }   
}

@keyframes ship-path {
    0% {
        transform: translateY(0px);
        transform: translateX(0px);
    }
    
     10% {
        transform: translateY(10px);
        transform: translateX(10px);
    }
    
      60% {
        transform: translateY(20px);
        transform: translateX(60px);
    }
    
    100% {
        transform: translateY(60px);
        transform: translateX(120px);
    }   
}


@-webkit-keyframes stars-scale {
    0% {
        -webkit-transform: scale(1,1);
    }
    
     50% {
        -webkit-transform: scale(1,0.9);
    }
    
    100% {
        -webkit-transform: scale(1.1,1);;
    } 
}

@keyframes stars-scale {
    0% {
        transform: scale(1,1);
    }
    
     50% {
        transform: scale(1,0.9);
    }
    
    100% {
        transform: scale(1.1,1);;
    } 
}